<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
	<a href="/login">login</a>
<% } else { %>
	<h2>Hello, <%= user.name %>.</h2>
	<a style="float:right" href="#" onclick="window.onbeforeunload=null;window.location='/logout'">logout</a>
	<script src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script src="jquery.min.js"></script>
	<script>
/***********************************************/
var me = '<%= user.name %>';
var socket = io.connect();
socket.on('resp', function(data) {
  var ch = $('#channel');
  ch.append(data + '<br>');
  var t = ch.scrollTop();
  ch.scrollTop(t + 3000);
});
socket.on('onlinelist_resp', function(data) {
  console.log(data);
  $('#usrlist').html('');
  for (i in data) {
    $('#usrlist').append(data[i] + '<br>');
  }
});
$(document).ready(function() {
  $('#message').keyup(function(e){
    if (e.keyCode == 13) {
      if (this.value == '') return;
      socket.emit('data', me + ': ' + this.value);
      this.value = '';
    }
  });
  socket.emit('onlinelist');
  $(window).unload(function () {
    socket.emit('unlinkuser', me);
    return 'Use logout please';
  });
});
window.onbeforeunload = function() {
  socket.emit('unlinkuser', me);
  return 'Use logout please';
}
/***********************************************/
	</script>
	<div id="usrlist" style="width:90px;height:100px;overflow:scroll;
				 float:right;"></div>
	<div id="channel" style="width:600px;height:300px;background-color:lightblue;overflow:scroll;"></div>
	<input type="text" id="message" style="bottom:5px;margin:10px;margin-left:15px" size="70" />
<% } %>
